<template>
	<header class="site-header">
		<div class="container">
			<Logo />
			<MainNav />
		</div>
	</header>
</template>

<script>
import Logo from '../Logo.vue'
import MainNav from './MainNav.vue'
export default {
	components: {
		Logo,
		MainNav
	}
}
</script>

<style lang="scss" scoped>
$orange: palette('orange');
.site-header {
	position: fixed;
	z-index: 3;
	width: 100%;
	height: 60px;
	background: linear-gradient(
		-30deg,
		$green,
		palette('litegreen') 20%,
		lighten($orange, 20%) 55%,
		$orange
	);
	display: flex;
	align-items: center;
	box-shadow: inset -2px -2px 4px rgba($black, 0.2);

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
</style>
