<template>
	<li :id="menu.id" class="main-nav__item">
		<nuxt-link :to="menu.url">{{ menu.title }}</nuxt-link>
		<!-- <nuxt-link to="#">Link</nuxt-link> -->
	</li>
</template>

<script>
export default {
	name: 'ListNav',
	props: {
		menu: {
			type: Object,
			default: null
		}
	}
}
</script>
