<template>
	<nav class="main-nav">
		<button
			type="button"
			aria-label="Nav"
			class="nav-toggle"
			v-on:click="navToggle"
		>
			<span>|||</span>
		</button>
		<ul class="list-nostyle" @click="closeNav">
			<!-- <li class="main-nav__item">
				<nuxt-link to="#">
					About Us
				</nuxt-link>
			</li>
			<li class="main-nav__item">
				<nuxt-link to="/events">
					Services
				</nuxt-link>
			</li>
			<li class="main-nav__item">
				<nuxt-link to="/news">
					Ideas
				</nuxt-link>
			</li>
			<li class="main-nav__item">
				<nuxt-link to="/chart">
					Chart
				</nuxt-link>
			</li>
			<li class="main-nav__item">
				<nuxt-link to="/swiper">
					Swiper
				</nuxt-link>
			</li>
			<li class="main-nav__item">
				<nuxt-link to="/slick-carousel">
					Slick
				</nuxt-link>
			</li>
			<li class="main-nav__item">
				<nuxt-link to="/calendar">
					Calendar
				</nuxt-link>
			</li>
			<li class="main-nav__item">
				<nuxt-link to="/datepicker">
					Datepicker
				</nuxt-link>
			</li>
			<li class="main-nav__item">
				<nuxt-link to="/select">
					Select
				</nuxt-link>
			</li>
			<li class="main-nav__item">
				<nuxt-link to="/table">
					Table
				</nuxt-link>
			</li>
			<li class="main-nav__item">
				<nuxt-link to="/forms">
					Forms
				</nuxt-link>
			</li> -->
			<ListNav
				v-for="(menu, index) in menus"
				:key="index"
				:menu="menu"
				:data-index="index"
			/>
			<!-- <ListNav /> -->
		</ul>
	</nav>
</template>

<script>
import { mapState } from 'vuex'
import ListNav from './ListNav.vue'
export default {
	methods: {
		navToggle(e) {
			e.preventDefault()
			let btn = e.currentTarget
			let nav = btn.parentNode

			nav.classList.toggle('is-active')
		},
		closeNav(e) {
			let el = e.currentTarget
			let nav = el.closest('.main-nav')

			setTimeout(() => {
				nav.classList.remove('is-active')
			}, 500)
		}
	},
	components: {
		ListNav
	},
	async fetch({ store, error }) {
		try {
			await store.dispatch('menus/getMenus')
		} catch (e) {
			error({
				statusCode: 503,
				message: 'Unable'
			})
		}
	},
	computed: mapState({
		menus: state => state.menus.menus
	})
}
</script>

<style lang="scss">
.nav-toggle {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: transparent;
	border: 1px solid #fff;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	position: relative;
	z-index: 2;

	span {
		display: inline-block;
		line-height: 40px;
		transform: rotate(90deg);
	}

	@media #{$large} {
		// display: none;
	}
}

.main-nav.is-active {
	> ul {
		transform: translateX(0);
		border-radius: 0;
	}
}

.main-nav > ul {
	display: flex;
	position: fixed;
	z-index: 1;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: linear-gradient(
		-30deg,
		$green,
		palette('litegreen') 20%,
		lighten($orange, 20%) 55%,
		$orange
	);
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	transform: translateX(100%);
	border-radius: 100% 0 0 100%;
	transition: all 0.3s ease;

	@media #{$large} {
		// position: static;
		// background: none;
		// flex-direction: row;
	}
}

.main-nav__item > a {
	display: block;
	color: #fff;
	padding: 6px 12px;
	text-transform: uppercase;

	&:hover {
		background: rgba($black, 0.1);
		color: #fff;
		text-shadow: 1px 1px 2px rgba($black, 0.3);
	}

	&:active,
	&:focus {
		color: #fff;
	}
}
</style>
