<template>
	<nav class="main-nav">
		<button
			type="button"
			aria-label="Nav"
			class="nav-toggle"
			@click="navToggle"
		>
			<span>|||</span>
		</button>
		<ul class="list-nostyle" @click="closeNav">
			<ListNav
				v-for="(menu, index) in menus"
				:key="index"
				:menu="menu"
				:data-index="index"
			/>
		</ul>
	</nav>
</template>

<script>
import axios from 'axios'
import ListNav from './ListNav.vue'
export default {
	components: {
		ListNav
	},
	data() {
		return {
			menus: []
		}
	},
	created() {
		axios
			.get('https://my-json-server.typicode.com/rolexta/bazeDummyData/menus')
			.then(res => {
				this.menus = res.data
			})
			.catch(e => {})
	},
	methods: {
		navToggle(e) {
			e.preventDefault()
			const btn = e.currentTarget
			const nav = btn.parentNode

			nav.classList.toggle('is-active')
		},
		closeNav(e) {
			const el = e.currentTarget
			const nav = el.closest('.main-nav')

			setTimeout(() => {
				nav.classList.remove('is-active')
			}, 500)
		}
	}
}
</script>

<style lang="scss">
.nav-toggle {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: transparent;
	border: 1px solid #fff;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	position: relative;
	z-index: 2;

	span {
		display: inline-block;
		line-height: 40px;
		transform: rotate(90deg);
	}

	@media #{$large} {
		// display: none;
	}
}

.main-nav.is-active {
	> ul {
		transform: translateX(0);
		border-radius: 0;
	}
}

.main-nav > ul {
	display: flex;
	position: fixed;
	z-index: 1;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: linear-gradient(
		-30deg,
		$green,
		palette('litegreen') 20%,
		lighten($orange, 20%) 55%,
		$orange
	);
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	transform: translateX(100%);
	border-radius: 100% 0 0 100%;
	transition: all 0.3s ease;

	@media #{$large} {
		// position: static;
		// background: none;
		// flex-direction: row;
	}
}

.main-nav__item > a {
	display: block;
	color: #fff;
	padding: 6px 12px;
	text-transform: uppercase;

	&:hover,
	&.link-active {
		background: rgba($black, 0.1);
		color: #fff;
		text-shadow: 1px 1px 2px rgba($black, 0.3);
	}

	&.link-active {
		font-weight: 700;
	}

	&:active,
	&:focus {
		color: #fff;
	}
}
</style>
