// List helper
// ------------------------------------------------------------------------ //

.list-nostyle {
	list-style: none;
	margin: 0;
	padding: 0;
}

.list-inline > li {
	display: inline-block;
}

// Typography helper
// ------------------------------------------------------------------------ //

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-ellipsis {
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.text-caps {
	text-transform: uppercase;
}

// Visual helper
// ------------------------------------------------------------------------ //

.clearfix:after,
.cf:after {
	display: table;
	clear: both;
	content: '';
}

.hidden {
	display: none !important;
}

.visuallyhidden,
.sr-only {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;

	&.focusable:active,
	&.focusable:focus {
		clip: auto;
		height: auto;
		margin: 0;
		overflow: visible;
		position: static;
		width: auto;
	}
}

.invisible {
	visibility: hidden;
}

.full-width,
.\--full {
	width: 100%;
}

$gaps: 0, 2, 4, 8, 12, 16, 20, 24, 32, 36;

@each $gap in $gaps {
	.mb-#{$gap} {
		margin-bottom: $gap * 1px !important;
	}
	.mr-#{$gap} {
		margin-right: $gap * 1px !important;
	}
	.ml-#{$gap} {
		margin-left: $gap * 1px !important;
	}
	.mt-#{$gap} {
		margin-top: $gap * 1px !important;
	}
	.pb-#{$gap} {
		padding-bottom: $gap * 1px !important;
	}
	.pr-#{$gap} {
		padding-right: $gap * 1px !important;
	}
	.pl-#{$gap} {
		padding-left: $gap * 1px !important;
	}
	.pt-#{$gap} {
		padding-top: $gap * 1px !important;
	}
	.p-#{$gap} {
		padding: $gap * 1px !important;
	}
}

@each $state, $color in $palettes {
	.text-#{$state} {
		color: $color;
	}

	.bg-#{$state} {
		background-color: $color;
	}
}

@each $state, $color in $light-palettes {
	.text-#{$state} {
		color: $color;
	}

	.bg-#{$state} {
		background-color: $color;
	}
}
