<template>
	<button v-if="isButton" :class="btnClass" :type="type">
		<span>{{ title }}</span>
	</button>
	<a v-else :class="btnClass">
		<span>{{ title }}</span>
	</a>
</template>

<script>
export default {
	props: {
		btnClass: {
			type: String,
			default: null
		},
		title: {
			type: String,
			default: null
		},
		type: {
			type: String,
			default: null
		},
		isButton: {
			type: Boolean,
			default: true
		}
	}
}
</script>

<style lang="scss" scoped></style>
