@import '/partials/normalize';
@import '/partials/variables';
@import '/partials/resets';
@import '/partials/helpers';
@import '/partials/print';

@import 'mixin/mixin';
@import 'modules/modules';

html {
	font: 400 $base_font_size $base_font_family;
	line-height: $base_line_height;
}

body {
	// text-decoration-skip: ink;
	text-decoration-skip-ink: auto;
	color: $black70;
}

a {
	color: $black90;
	text-decoration: none;

	&:hover,
	&:focus {
		color: $link_hover;
	}
}

button {
	cursor: pointer;

	&:focus {
		outline: none;
	}
}

.block {
	margin-bottom: $space;
}

.block-half {
	margin-bottom: ($space / 2);
}

.container {
	width: 92%;
	max-width: 960px;
	margin: 0 auto;

	@media #{$medium} {
		width: 94%;
	}

	@media #{$extra_large} {
		max-width: 1280px;
	}
}
