<template>
	<div v-if="banners.length">
		<VueSlickCarousel
			ref="carousel"
			:dots="true"
			class="main-banner"
			@afterChange="onAfterSlide"
		>
			<div
				v-for="(banner, index) in banners"
				:key="index"
				class="slide_item"
				:banner="banner"
				:data-index="index"
			>
				<div class="container">
					<div class="bzg">
						<div class="bzg_c" data-col="m6">
							<h1 class="mb-0" v-html="banner.title"></h1>
							<p>{{ banner.description }}</p>
							<nuxt-link :to="banner.cta[0].url" class="btn--primary">
								{{ banner.cta[0].title }}
							</nuxt-link>
							<nuxt-link
								v-for="(cta, cta_index) in getDownloadBtn(banner.cta)"
								:key="cta_index"
								:to="cta.url"
								class="btn--green"
							>
								{{ cta.title }} untuk {{ deviceOS }}
							</nuxt-link>
						</div>
						<div class="bzg_c" data-col="m6">
							<div class="responsive-media r-1">
								<!-- <video autoplay loop playsinline aria-hidden="true"> -->
								<video :id="'video' + index" playsinline aria-hidden="true">
									<source src="~assets/videos/coin.mp4" type="video/mp4" />
								</video>
							</div>
						</div>
					</div>
				</div>
			</div>
		</VueSlickCarousel>
	</div>
</template>

<script>
import GetApiClientServices from '@/services/GetApiClientServices.js'
export default {
	name: 'HomeBanner',
	data() {
		return {
			banners: [],
			deviceOS: this.$ua.os().toLowerCase()
		}
	},
	created() {
		GetApiClientServices.getHomeMainBanner()
			.then(res => {
				this.banners = res.data
			})
			.catch(error => {
				error({
					statusCode: 503,
					message: 'banner error'
				})
			})
	},
	methods: {
		getDownloadBtn(arr) {
			return arr.filter(
				cta => cta.actionType !== 'link' && cta.actionType === this.deviceOS
			)
		},
		onAfterSlide(slideIndex) {
			const activeSlide = this.$refs.carousel.$el.querySelectorAll(
				'.slick-slide'
			)[slideIndex + 1]
			this.$refs.carousel.$el.querySelector('video').pause()
			activeSlide.querySelector('video').play()
		}
	}
}
</script>

<style lang="scss">
@import '~assets/scss/modules/baze-grid';
@import '~assets/scss/plugins/vue-slick';
</style>
