<template>
	<section class>
		<div class="container">
			<h2 v-html="our_services.title"></h2>
			<blockquote class="home-blockquote">
				{{ our_services.description }}
			</blockquote>
			<div class="about-hilite">
				<div class="bzg">
					<div
						v-for="(our_service, index) in our_services.sevices"
						:key="index"
						class="bzg_c mb-16"
						data-col="m6"
					>
						<figure class="figure-about flex">
							<img
								:data-src="our_service.image"
								alt
								width="120"
								class="lazyload mr-8"
							/>
							<figcaption class="fg-1">
								<h3 class="text-orange">{{ our_service.title }}</h3>
								<span v-html="our_service.description"></span>
							</figcaption>
						</figure>
						<bzBtn
							:class="'btn--primary'"
							:title="'Go'"
							:href="'#'"
							:is-button="true"
						/>
					</div>
				</div>
			</div>
		</div>
	</section>
</template>

<script>
import GetApiClientServices from '@/services/GetApiClientServices.js'
export default {
	name: 'OurServices',
	data() {
		return {
			our_services: {}
		}
	},
	created() {
		GetApiClientServices.getOurServices()
			.then(res => {
				this.our_services = res.data
			})
			.catch(error => {
				error({
					statusCode: 503,
					message: 'Error Get'
				})
			})
	}
}
</script>

<style lang="scss" scoped>
@import '~assets/scss/modules/baze-grid';
</style>
