<template>
	<figure class="baze-logo">
		<svg
			version="1.1"
			xmlns="http://www.w3.org/2000/svg"
			xmlns:xlink="http://www.w3.org/1999/xlink"
			x="0px"
			y="0px"
			viewBox="0 0 1000 1000"
			style="enable-background:new 0 0 1000 1000;"
			xml:space="preserve"
		>
			<style type="text/css" />
			<g id="Layer_B">
				<polygon class="poly-0 st--b st0" points="300,200 500,0 0,0  " />
				<polygon class="poly-1 st--b st1" points="500,0 700,200 300,200  " />
				<polygon class="poly-2 st--b st0" points="700,200 800,0 500,0    " />
				<polygon
					class="poly-3 st--b st1"
					points="800,0 1000,200 700,200     "
				/>
				<rect
					x="700"
					y="200"
					class="poly-4 st--b st2"
					width="300"
					height="200"
				/>
				<polygon
					class="poly-5 st--b st3"
					points="700,400 1000,400 900,500 500,600   "
				/>
				<polygon
					class="poly-6 st--b st1"
					points="900,500 500,600 1000,600   "
				/>
				<rect
					x="700"
					y="600"
					class="poly-7 st--b st2"
					width="300"
					height="200"
				/>
				<polygon
					class="poly-8 st--b st3"
					points="700,800 1000,800 799,1000  "
				/>
				<polygon
					class="poly-9 st--b st4"
					points="800,1000 500,1000 700,800  "
				/>
				<polygon
					class="poly-10 st--b st3"
					points="300,800 500,1000 700,800   "
				/>
				<polygon
					class="poly-11 st--b st4"
					points="300,800 500,1000 0,1000    "
				/>
				<polygon
					class="poly-12 st--b st2"
					points="300,800 0,1000 0,500 300,600   "
				/>
				<polygon
					class="poly-13 st--b st3"
					points="300,400 0,500 300,600 500,400  "
				/>
				<polygon
					class="poly-14 st--b st2"
					points="300,400 300,200 0,0 0,500  "
				/>
			</g>
			<g id="Layer_Z">
				<polygon
					class="poly-0 st--z st5"
					points="300,200 500,400 300,400    "
				/>
				<polygon
					class="poly-1 st--z st6"
					points="300,200 500,400 700,200    "
				/>
				<polygon
					class="poly-2 st--z st7"
					points="700,200 500,400 700,400    "
				/>
				<polygon
					class="poly-3 st--z st6"
					points="500,400 700,400 500,600    "
				/>
				<polygon
					class="poly-4 st--z st5"
					points="500,600 300,600 500,400    "
				/>
				<polygon
					class="poly-5 st--z st7"
					points="300,600 500,600 300,800    "
				/>
				<polygon
					class="poly-6 st--z st6"
					points="500,600 700,800 300,800    "
				/>
				<polygon
					class="poly-7 st--z st5"
					points="700,600 700,800 500,600    "
				/>
			</g>
		</svg>
	</figure>
</template>

<script>
export default {
	name: 'BazeLogo'
}
</script>

<style lang="scss" scoped>
@mixin pos($x, $y, $r, $s, $o: 0) {
	transform: translate($x, $y) rotate($r) scale($s);
	opacity: $o;
}
$Bs: 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14;
.baze-logo {
	margin: 0;
	height: calc(100vh - 60px);
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: -36px;

	svg {
		width: 70%;
		max-width: 360px;
		position: relative;
		overflow: visible;
		animation: 8s ease both spinning;
	}
}
.st0 {
	fill: #ff831f;
}
.st1 {
	fill: #ff7500;
}
.st2 {
	fill: #e85c00;
}
.st3 {
	fill: #d15300;
}
.st4 {
	fill: #ff6600;
}
.st5 {
	fill: #e6e6e6;
}
.st6 {
	fill: #cccccc;
}
.st7 {
	fill: #ffffff;
}
#Layer_B {
	position: relative;
	.st--b {
		display: block;
		position: relative;
		left: 50%;
		top: 0;
	}
	@each $B in $Bs {
		.poly-#{$B} {
			animation: 0.7s ease-out (((1 + $B)/2) * 0.4s) fall_b_#{$B} both;
		}
	}
}

$Zs: 0, 1, 2, 3, 4, 5, 6, 7;
#Layer_Z {
	position: relative;
	.st--z {
		display: block;
		position: relative;
		left: 50%;
		top: 0;
		stroke: $black70;
	}
	@each $Z in $Zs {
		.poly-#{$Z} {
			animation: 0.7s ease-out ((4 + $Z) * 0.4s) fall_z_#{$Z} both;
		}
	}
}

@keyframes spinning {
	0% {
		transform: translateY(0) rotate(0deg) scale(0.7);
	}
	70% {
		transform: translateY(0) rotate(360deg) scale(0.7);
	}
	80% {
		transform: translateY(0) rotate(360deg) scale(1.2);
	}
	100% {
		transform: translateY(-36px) rotate(360deg) scale(1);
	}
}
@keyframes fall_b_0 {
	0% {
		@include pos(50%, 100%, 500deg, 0.5);
	}
	70% {
		@include pos(0, 0, 0, 3, 1);
	}
	100% {
		@include pos(0, 0, 0, 1, 1);
	}
}
@keyframes fall_b_1 {
	0% {
		@include pos(50%, 100%, 130deg, 0.5);
	}
	70% {
		@include pos(0, 0, 0, 3, 1);
	}
	100% {
		@include pos(0, 0, 0, 1, 1);
	}
}
@keyframes fall_b_2 {
	0% {
		@include pos(50%, 100%, 90deg, 0.5);
	}
	70% {
		@include pos(0, 0, 0, 3, 1);
	}
	100% {
		@include pos(0, 0, 0, 1, 1);
	}
}
@keyframes fall_b_3 {
	0% {
		@include pos(50%, 100%, -30deg, 0.5);
	}
	70% {
		@include pos(0, 0, 0, 3, 1);
	}
	100% {
		@include pos(0, 0, 0, 1, 1);
	}
}
@keyframes fall_b_4 {
	0% {
		@include pos(50%, 100%, 350deg, 0.5);
	}
	70% {
		@include pos(0, 0, 0, 3, 1);
	}
	100% {
		@include pos(0, 0, 0, 1, 1);
	}
}
@keyframes fall_b_5 {
	0% {
		@include pos(50%, 100%, 180deg, 0.5);
	}
	70% {
		@include pos(0, 0, 0, 3, 1);
	}
	100% {
		@include pos(0, 0, 0, 1, 1);
	}
}
@keyframes fall_b_6 {
	0% {
		@include pos(50%, 100%, 20deg, 0.5);
	}
	70% {
		@include pos(0, 0, 0, 3, 1);
	}
	100% {
		@include pos(0, 0, 0, 1, 1);
	}
}
@keyframes fall_b_7 {
	0% {
		@include pos(50%, 100%, 70deg, 0.5);
	}
	70% {
		@include pos(0, 0, 0, 3, 1);
	}
	100% {
		@include pos(0, 0, 0, 1, 1);
	}
}
@keyframes fall_b_8 {
	0% {
		@include pos(50%, 100%, 80deg, 0.5);
	}
	70% {
		@include pos(0, 0, 0, 3, 1);
	}
	100% {
		@include pos(0, 0, 0, 1, 1);
	}
}
@keyframes fall_b_9 {
	0% {
		@include pos(50%, 100%, 30deg, 0.5);
	}
	70% {
		@include pos(0, 0, 0, 3, 1);
	}
	100% {
		@include pos(0, 0, 0, 1, 1);
	}
}
@keyframes fall_b_10 {
	0% {
		@include pos(50%, 100%, 90deg, 0.5);
	}
	70% {
		@include pos(0, 0, 0, 3, 1);
	}
	100% {
		@include pos(0, 0, 0, 1, 1);
	}
}
@keyframes fall_b_11 {
	0% {
		@include pos(50%, 100%, 50deg, 0.5);
	}
	70% {
		@include pos(0, 0, 0, 3, 1);
	}
	100% {
		@include pos(0, 0, 0, 1, 1);
	}
}
@keyframes fall_b_12 {
	0% {
		@include pos(50%, 100%, 130deg, 0.5);
	}
	70% {
		@include pos(0, 0, 0, 3, 1);
	}
	100% {
		@include pos(0, 0, 0, 1, 1);
	}
}
@keyframes fall_b_13 {
	0% {
		@include pos(50%, 100%, 230deg, 0.5);
	}
	70% {
		@include pos(0, 0, 0, 3, 1);
	}
	100% {
		@include pos(0, 0, 0, 1, 1);
	}
}
@keyframes fall_b_14 {
	0% {
		@include pos(50%, 100%, 430deg, 0.5);
	}
	70% {
		@include pos(0, 0, 0, 3, 1);
	}
	100% {
		@include pos(0, 0, 0, 1, 1);
	}
}

@keyframes fall_z_0 {
	0% {
		@include pos(50%, -100%, 430deg, 0.5);
	}
	70% {
		@include pos(0, 0, 0, 3, 1);
	}
	100% {
		@include pos(0, 0, 0, 1, 1);
		stroke: transparent;
	}
}
@keyframes fall_z_1 {
	0% {
		@include pos(50%, -100%, 430deg, 0.5);
	}
	70% {
		@include pos(0, 0, 0, 3, 1);
	}
	100% {
		@include pos(0, 0, 0, 1, 1);
		stroke: transparent;
	}
}
@keyframes fall_z_2 {
	0% {
		@include pos(50%, -100%, -430deg, 0.5);
	}
	70% {
		@include pos(0, 0, 0, 3, 1);
	}
	100% {
		@include pos(0, 0, 0, 1, 1);
		stroke: transparent;
	}
}
@keyframes fall_z_3 {
	0% {
		@include pos(50%, -100%, 430deg, 0.5);
	}
	70% {
		@include pos(0, 0, 0, 3, 1);
	}
	100% {
		@include pos(0, 0, 0, 1, 1);
		stroke: transparent;
	}
}
@keyframes fall_z_4 {
	0% {
		@include pos(50%, -100%, -430deg, 0.5);
	}
	70% {
		@include pos(0, 0, 0, 3, 1);
	}
	100% {
		@include pos(0, 0, 0, 1, 1);
		stroke: transparent;
	}
}
@keyframes fall_z_5 {
	0% {
		@include pos(50%, -100%, 430deg, 0.5);
	}
	70% {
		@include pos(0, 0, 0, 3, 1);
	}
	100% {
		@include pos(0, 0, 0, 1, 1);
		stroke: transparent;
	}
}
@keyframes fall_z_6 {
	0% {
		@include pos(50%, -100%, -430deg, 0.5);
	}
	70% {
		@include pos(0, 0, 0, 3, 1);
	}
	100% {
		@include pos(0, 0, 0, 1, 1);
		stroke: transparent;
	}
}
@keyframes fall_z_7 {
	0% {
		@include pos(50%, -100%, 430deg, 0.5);
	}
	70% {
		@include pos(0, 0, 0, 3, 1);
	}
	100% {
		@include pos(0, 0, 0, 1, 1);
		stroke: transparent;
	}
}
</style>
