<template>
	<FullCalendar default-view="dayGridMonth" :plugins="calendarPlugins" />
</template>

<script>
import FullCalendar from '@fullcalendar/vue'
import dayGridPlugin from '@fullcalendar/daygrid'

export default {
	components: {
		FullCalendar
	},
	data() {
		return {
			calendarPlugins: [dayGridPlugin]
		}
	}
}
</script>
