<template>
	<div class="bzg_c" data-col="m6">
		<nuxt-link :to="'/events/' + event.id">
			<div class="-shadow">
				<span class="eyebrow">@{{ event.time }} on {{ parseDate }}</span>
				<h4 class="title">{{ event.title }}</h4>
				<span>{{ event.attendees.length }} attending</span>
			</div>
		</nuxt-link>
	</div>
</template>
<script>
import * as _ from '@/services/utils.js'
export default {
	name: 'EventCard',
	props: {
		event: {
			type: Object,
			default: null
		}
	},
	computed: {
		parseDate() {
			return _.parseDateStr(this.event.date)
		}
	}
}
</script>
<style lang="scss" scoped>
$orange: palette('orange');
.-shadow {
	box-shadow: 0 2px 8px rgba(#000, 0.1);
	margin-bottom: 16px;
	padding: 12px 16px;
	border-radius: 5px;
	border: 1px solid #ddd;

	.title {
		color: #333;
	}
}

a:hover .-shadow {
	border-color: $orange;
}
</style>
