<template>
  <section id="installBanner" class="p-16 banner-install">
    <h5>Install Baze App?</h5>
    <div class="flex">
      <button id="skipInstallBtn" class="btn mr-8">Next time</button>
      <button id="installBtn" class="btn--primary">Install app</button>
    </div>
  </section>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
.banner-install {
  position: fixed;
  z-index: 9999;
  top: 100%;
  left: 50%;
  background: #fff;
  border-radius: 8px;
  transform: translate(-50%, 0);
  transition: transform 0.4s ease;

  &.is-active {
    box-shadow: $shadow;
    transform: translate(-50%, -110%);
  }
}
</style>