<template>
	<!-- <svg
		class="NuxtLogo"
		width="40"
		height="36"
		viewBox="0 0 452 342"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g fill="none" fill-rule="evenodd">
			<path
				class="p1"
				d="M139 330l-1-2c-2-4-2-8-1-13H29L189 31l67 121 22-16-67-121c-1-2-9-14-22-14-6 0-15 2-22 15L5 303c-1 3-8 16-2 27 4 6 10 12 24 12h136c-14 0-21-6-24-12z"
				fill="#00C58E"
			/>
			<path
				class="p2"
				d="M447 304L317 70c-2-2-9-15-22-15-6 0-15 3-22 15l-17 28v54l39-67 129 230h-49a23 23 0 0 1-2 14l-1 1c-6 11-21 12-23 12h76c3 0 17-1 24-12 3-5 5-14-2-26z"
				fill="#108775"
			/>
			<path
				class="p3"
				d="M376 330v-1l1-2c1-4 2-8 1-12l-4-12-102-178-15-27h-1l-15 27-102 178-4 12a24 24 0 0 0 2 15c4 6 10 12 24 12h190c3 0 18-1 25-12zM256 152l93 163H163l93-163z"
				fill="#2F495E"
				fill-rule="nonzero"
			/>
		</g>
	</svg> -->
	<nuxt-link to="/" class="site-brand">
		<img src="/apple-icon.png" alt="" width="32" />
	</nuxt-link>
</template>
<style lang="scss" scoped>
$orange: palette('orange');
.NuxtLogo {
	width: 40px;
	height: 36px;

	path {
		transition: fill 0.4s ease;
	}
}

a:hover .NuxtLogo {
	.p1,
	.p2 {
		fill: lighten($orange, 20%);
	}
	.p3 {
		fill: #fff;
	}
}

.site-brand {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	// overflow: hidden;
	background-color: #fff;
	transition: all 0.4s ease;
	box-shadow: 0 0 0 0 #fff;

	img {
		transition: transform 0.4s ease;
	}

	&:hover {
		box-shadow: 0 0 0 6px #fff;

		img {
			transform: scale(1.05);
		}
	}
}
</style>
