<template>
	<div class="slide__item">
		<picture>
			<source
				:data-srcset="banner.banner_img_large"
				media="(min-width: 768px)"
			/>
			<img
				class="slide-item-img lazyload"
				:data-src="banner.banner_img_small"
				alt=""
			/>
		</picture>
		<!-- <img class="lazyload" :data-src="" alt="" /> -->
		<div class="container">
			<h1 class="mb-0" v-html="banner.title"></h1>
			<p>{{ banner.description }}</p>
			<bzBtn
				v-for="(btn, i) in banner.cta_urls"
				:key="i"
				:class="'btn--' + btn.cta_class"
				:title="btn.title"
				:href="btn.url"
				:is-button="false"
			/>
		</div>
	</div>
</template>

<script>
export default {
	name: 'MainBanner',
	props: {
		banner: {
			type: Object,
			default: null
		}
	}
}
</script>

<style lang="scss">
@import '~assets/scss/plugins/vue-slick';

.main-banner {
	// margin-top: -36px;

	.slide__item img {
		width: 100%;
		max-width: none;
	}
}
</style>
