<template>
	<div class="nav">
		<div class="container">
			<nuxt-link to="/" class="brand">
				<Logo />
			</nuxt-link>

			<nav>
				<nuxt-link to="/events">List</nuxt-link>
				<nuxt-link to="/news/">News</nuxt-link>
			</nav>
		</div>
	</div>
</template>
<script>
import Logo from './Logo.vue'
export default {
	components: {
		Logo
	}
}
</script>
<style lang="scss" scoped>
$orange: palette('orange');
.nav {
	width: 100%;
	height: 60px;
	margin-bottom: 16px;
	background-color: $orange;
	position: fixed;
	z-index: 4;

	nav {
		display: flex;
	}

	a {
		color: #fff;
		display: block;
		padding: 8px 12px;
		border-radius: 4px;

		&:hover {
			background-color: darken($orange, 10%);
			color: lighten($orange, 30%);
		}
	}

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;
	}
}
</style>
