<template>
	<div class="mb-36 bzg">
		<div class="bzg_c mb-8" data-col="m4">
			<a :href="article.url" class="responsive-media r-16-9">
				<img
					:data-src="article.urlToImage"
					:alt="article.title"
					class="lazyload"
				/>
			</a>
		</div>
		<div class="bzg_c" data-col="m8">
			<div class="mb-16">
				<h3 class="mb-0">
					<a :href="article.url">
						{{ article.title }}
					</a>
				</h3>
				<small>by: {{ article.author }} </small>
				|
				<small>{{ publishedDate }}</small>
			</div>
			<div v-html="article.description"></div>
		</div>
	</div>
</template>
<script>
import * as _ from '@/dev/utils.js'
export default {
	name: 'NewsCard',
	props: {
		article: {
			type: Object,
			default: null
		}
	},
	computed: {
		publishedDate() {
			return _.parseDateStr(this.article.publishedAt)
		}
	}
}
</script>
<style lang="scss" scoped>
@import '~assets/scss/modules/baze-grid';
</style>
