<template>
    <v-select :options="filteredCat" label="label">
        <template slot="option" slot-scope="option">
            <img v-if="option.menu_thumb" :src="option.menu_thumb" alt="" />
            {{ option.label }}
        </template>
    </v-select>
</template>

