<template>
	<div class="container">
		<h1>{{ event.title }}</h1>
		<p>{{ event.description }}</p>
	</div>
</template>

<script>
import { mapState } from 'vuex'
export default {
	async fetch({ store, error, params }) {
		try {
			await store.dispatch('events/fetchEvent', params.id)
		} catch (e) {
			error({
				statusCode: 503,
				message: 'Unable' + params.id
			})
		}
	},
	computed: mapState({
		event: state => state.events.event
	}),
	head() {
		return {
			title: this.event.title,
			meta: [
				{
					hid: 'description',
					name: 'description',
					content: this.event.description
				}
			]
		}
	}
}
</script>
