<template>
	<div class="container">
		<h1>Create an Event</h1>
	</div>
</template>

<script>
export default {
	head() {
		return {
			title: 'Create Baze Events',
			meta: [
				{
					hid: 'description',
					name: 'description',
					content: 'Where you can start new project with me'
				}
			]
		}
	}
}
</script>
