<template>
	<div class="container">
		<h1>Baze Events</h1>
		<div class="bzg mb-24">
			<EventCard
				v-for="(event, index) in events"
				:key="index"
				:event="event"
				:data-index="index"
			/>
		</div>
	</div>
</template>

<script>
import { mapState } from 'vuex'
import EventCard from '@/components/EventCard.vue'
export default {
	components: {
		EventCard
	},
	async fetch({ store, error }) {
		try {
			await store.dispatch('events/fetchEvents')
		} catch (e) {
			error({
				statusCode: 503,
				message: 'Unable'
			})
		}
	},
	computed: mapState({
		events: state => state.events.events
	}),
	head() {
		return {
			title: 'Events',
			meta: [
				{
					hid: 'description',
					name: 'description',
					content: 'Where you can start new project with me'
				}
			]
		}
	}
}
</script>
<style lang="scss" scoped>
@import '~assets/scss/modules/baze-grid';
</style>
