.btn {
    display: inline-block;
    padding: 8px 24px;
    border: 1px solid;
    font-family: inherit;
    line-height: $base_line_height;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;

    -webkit-tap-highlight-color: rgba(0,0,0,0);

    &:focus {
        outline: none;
    }

    &[disabled],
    &.disabled {
        cursor: not-allowed;
        pointer-events: none;
    }
}


@mixin btnStyle($bg, $color: #fff, $shade: dark) {
    @extend .btn;
    color: $color;
    background: $bg;

    @if $shade == dark {
        border-color: $bg;
    } @else {
        border-color: darken($bg, 9%);
    }

    &:hover,
    &:focus {
        @if $shade == dark {
            background: lighten($bg, 10%);
            color: $color;
        } @else if $shade == light {
            background: darken($bg, 9%);
            color: $color;
        }
    }

    &[disabled],
    &.disabled {
        opacity: .6;
    }
}

.btn--block {
    width: 100%;
}

@each $state, $color in $palettes {
    .btn--#{$state} {
        @include btnStyle($color);
    }
}

@each $state, $color in $light-palettes {
    .btn--#{$state} {
        @include btnStyle($color, $black80, light);
    }
}