$errorColor: #d32c31;
legend {
	margin-bottom: ($space / 2);
}

// Hide input type number spinner
// http://goo.gl/lcCQgB
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	margin: 0;
	-webkit-appearance: none;
}

input[type='number'] {
	-moz-appearance: textfield;
}

.form-input {
	padding: 8px;
	border: solid 1px #ccc;
	border-radius: 2px;
	font-family: inherit;
	background: #fff;
	line-height: $base_line_height;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);

	&:focus {
		border-color: #333;
		outline: none;
	}

	&[disabled] {
		color: #a8a8a8;
		cursor: not-allowed;

		// Fix iOS color for being too opaque
		// https://github.com/ImBobby/suit-baze/issues/98
		-webkit-text-fill-color: #a8a8a8;
	}

	@at-root select#{&} {
		background: url('~assets/img/select-arrow.png') center right 12px no-repeat;
		background-size: 10px;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}
}

.form-input--error {
	border-color: $errorColor;

	&:focus {
		border-color: $errorColor;
	}
}

.form-input--success {
	border-color: #4eb74a;

	&:focus {
		border-color: #4eb74a;
	}
}

.form-input--block {
	width: 100%;
}

.form-error-msg {
	color: $errorColor;
}
