/*! [PROJECT_NAME] | Suitmedia */
/*! normalize.css v4.2.0 | MIT License | github.com/necolas/normalize.css */
html {
	font-family: sans-serif;
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
	display: block;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

figcaption,
figure,
main {
	display: block;
}

figure {
	margin: 1em 40px;
}

hr {
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

pre {
	font-family: monospace, monospace;
	font-size: 1em;
}

a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
	outline-width: 0;
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	-webkit-text-decoration: underline dotted;
	text-decoration: underline dotted;
}

b,
strong {
	font-weight: inherit;
}

b,
strong {
	font-weight: bolder;
}

code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

dfn {
	font-style: italic;
}

mark {
	background-color: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

audio,
video {
	display: inline-block;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

img {
	border-style: none;
}

svg:not(:root) {
	overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
	font: inherit;
	margin: 0;
}

optgroup {
	font-weight: bold;
}

button,
input {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html [type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
	outline: 1px dotted ButtonText;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

progress {
	display: inline-block;
	vertical-align: baseline;
}

textarea {
	overflow: auto;
}

[type='checkbox'],
[type='radio'] {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
	height: auto;
}

[type='search'] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

details,
menu {
	display: block;
}

summary {
	display: list-item;
}

canvas {
	display: inline-block;
}

template {
	display: none;
}

[hidden] {
	display: none;
}

html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

html,
button,
input,
select,
textarea {
	color: #000;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

img {
	max-width: 100%;
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
	vertical-align: middle;
}

address {
	font-style: normal;
}

table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

figure {
	margin: 0 0 1.6em 0;
}

label,
input,
button,
select,
textarea {
	font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI',
		'Roboto', 'Helvetica Neue', Arial, sans-serif;
}

pre {
	overflow: auto;
}

canvas {
	vertical-align: middle;
}

.browsehappy {
	background: #ffd17d;
	border-bottom: solid 1px #ffcc6f;
	color: #222;
	font-size: 0.8em;
	margin: 0 0 0.2em;
	padding: 0.4em 0;
	text-align: center;
}

::-moz-selection {
	background: #b3d4fc;
	color: #000;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	color: #000;
	text-shadow: none;
}

@-ms-viewport {
	width: device-width;
}

@-o-viewport {
	width: device-width;
}

@viewport {
	width: device-width;
}

input[type='search'] {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.list-nostyle {
	list-style: none;
	margin: 0;
	padding: 0;
}

.list-inline > li {
	display: inline-block;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-ellipsis {
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.text-caps {
	text-transform: uppercase;
}

.clearfix:after,
.cf:after {
	display: table;
	clear: both;
	content: '';
}

.hidden {
	display: none !important;
}

.visuallyhidden,
.sr-only {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus,
.sr-only.focusable:active,
.sr-only.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.invisible {
	visibility: hidden;
}

.full-width,
.\--full {
	width: 100%;
}

.mb-0 {
	margin-bottom: 0px !important;
}

.mr-0 {
	margin-right: 0px !important;
}

.ml-0 {
	margin-left: 0px !important;
}

.mt-0 {
	margin-top: 0px !important;
}

.pb-0 {
	padding-bottom: 0px !important;
}

.pr-0 {
	padding-right: 0px !important;
}

.pl-0 {
	padding-left: 0px !important;
}

.pt-0 {
	padding-top: 0px !important;
}

.p-0 {
	padding: 0px !important;
}

.mb-2 {
	margin-bottom: 2px !important;
}

.mr-2 {
	margin-right: 2px !important;
}

.ml-2 {
	margin-left: 2px !important;
}

.mt-2 {
	margin-top: 2px !important;
}

.pb-2 {
	padding-bottom: 2px !important;
}

.pr-2 {
	padding-right: 2px !important;
}

.pl-2 {
	padding-left: 2px !important;
}

.pt-2 {
	padding-top: 2px !important;
}

.p-2 {
	padding: 2px !important;
}

.mb-4 {
	margin-bottom: 4px !important;
}

.mr-4 {
	margin-right: 4px !important;
}

.ml-4 {
	margin-left: 4px !important;
}

.mt-4 {
	margin-top: 4px !important;
}

.pb-4 {
	padding-bottom: 4px !important;
}

.pr-4 {
	padding-right: 4px !important;
}

.pl-4 {
	padding-left: 4px !important;
}

.pt-4 {
	padding-top: 4px !important;
}

.p-4 {
	padding: 4px !important;
}

.mb-8 {
	margin-bottom: 8px !important;
}

.mr-8 {
	margin-right: 8px !important;
}

.ml-8 {
	margin-left: 8px !important;
}

.mt-8 {
	margin-top: 8px !important;
}

.pb-8 {
	padding-bottom: 8px !important;
}

.pr-8 {
	padding-right: 8px !important;
}

.pl-8 {
	padding-left: 8px !important;
}

.pt-8 {
	padding-top: 8px !important;
}

.p-8 {
	padding: 8px !important;
}

.mb-12 {
	margin-bottom: 12px !important;
}

.mr-12 {
	margin-right: 12px !important;
}

.ml-12 {
	margin-left: 12px !important;
}

.mt-12 {
	margin-top: 12px !important;
}

.pb-12 {
	padding-bottom: 12px !important;
}

.pr-12 {
	padding-right: 12px !important;
}

.pl-12 {
	padding-left: 12px !important;
}

.pt-12 {
	padding-top: 12px !important;
}

.p-12 {
	padding: 12px !important;
}

.mb-16 {
	margin-bottom: 16px !important;
}

.mr-16 {
	margin-right: 16px !important;
}

.ml-16 {
	margin-left: 16px !important;
}

.mt-16 {
	margin-top: 16px !important;
}

.pb-16 {
	padding-bottom: 16px !important;
}

.pr-16 {
	padding-right: 16px !important;
}

.pl-16 {
	padding-left: 16px !important;
}

.pt-16 {
	padding-top: 16px !important;
}

.p-16 {
	padding: 16px !important;
}

.mb-20 {
	margin-bottom: 20px !important;
}

.mr-20 {
	margin-right: 20px !important;
}

.ml-20 {
	margin-left: 20px !important;
}

.mt-20 {
	margin-top: 20px !important;
}

.pb-20 {
	padding-bottom: 20px !important;
}

.pr-20 {
	padding-right: 20px !important;
}

.pl-20 {
	padding-left: 20px !important;
}

.pt-20 {
	padding-top: 20px !important;
}

.p-20 {
	padding: 20px !important;
}

.mb-24 {
	margin-bottom: 24px !important;
}

.mr-24 {
	margin-right: 24px !important;
}

.ml-24 {
	margin-left: 24px !important;
}

.mt-24 {
	margin-top: 24px !important;
}

.pb-24 {
	padding-bottom: 24px !important;
}

.pr-24 {
	padding-right: 24px !important;
}

.pl-24 {
	padding-left: 24px !important;
}

.pt-24 {
	padding-top: 24px !important;
}

.p-24 {
	padding: 24px !important;
}

.mb-32 {
	margin-bottom: 32px !important;
}

.mr-32 {
	margin-right: 32px !important;
}

.ml-32 {
	margin-left: 32px !important;
}

.mt-32 {
	margin-top: 32px !important;
}

.pb-32 {
	padding-bottom: 32px !important;
}

.pr-32 {
	padding-right: 32px !important;
}

.pl-32 {
	padding-left: 32px !important;
}

.pt-32 {
	padding-top: 32px !important;
}

.p-32 {
	padding: 32px !important;
}

.mb-36 {
	margin-bottom: 36px !important;
}

.mr-36 {
	margin-right: 36px !important;
}

.ml-36 {
	margin-left: 36px !important;
}

.mt-36 {
	margin-top: 36px !important;
}

.pb-36 {
	padding-bottom: 36px !important;
}

.pr-36 {
	padding-right: 36px !important;
}

.pl-36 {
	padding-left: 36px !important;
}

.pt-36 {
	padding-top: 36px !important;
}

.p-36 {
	padding: 36px !important;
}

.text-primary {
	color: #0094ed;
}

.bg-primary {
	background-color: #0094ed;
}

.text-black {
	color: #000;
}

.bg-black {
	background-color: #000;
}

.text-orange {
	color: #ff6600;
}

.bg-orange {
	background-color: #ff6600;
}

.text-light-grey {
	color: #d3d3d3;
}

.bg-light-grey {
	background-color: #d3d3d3;
}

.text-white {
	color: #fff;
}

.bg-white {
	background-color: #fff;
}

@media print {
	* {
		background: transparent !important;
		color: #000 !important;
		-webkit-box-shadow: none !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}
	a,
	a:visited {
		text-decoration: underline;
	}
	a[href]:after {
		content: ' (' attr(href) ')';
	}
	abbr[title]:after {
		content: ' (' attr(title) ')';
	}
	.ir a:after,
	a[href^='javascript:']:after,
	a[href^='#']:after {
		content: '';
	}
	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}
	thead {
		display: table-header-group;
	}
	tr,
	img {
		page-break-inside: avoid;
	}
	img {
		max-width: 100% !important;
	}
	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}
	h2,
	h3 {
		page-break-after: avoid;
	}
	.hidden-print {
		display: none !important;
	}
}

h1,
.h1 {
	font-size: 2.48832em;
	line-height: 0.96451em;
	margin: 0 0 0.40188em 0;
}

h2,
.h2 {
	font-size: 2.0736em;
	line-height: 1.15741em;
	margin: 0 0 0.48225em 0;
}

h3,
.h3 {
	font-size: 1.728em;
	line-height: 1.38889em;
	margin: 0 0 0.5787em 0;
}

h4,
.h4 {
	font-size: 1.44em;
	line-height: 1.11111em;
	margin: 0 0 0.69444em 0;
}

h5,
.h5 {
	font-size: 1.2em;
	line-height: 1.33333em;
	margin: 0 0 0.83333em 0;
}

h6,
.h6 {
	font-size: 1em;
	line-height: 1.6em;
	margin: 0 0 1em 0;
}

p,
ul,
ol,
hr,
table {
	font-size: 1em;
	line-height: 1.6em;
	margin: 0 0 1em 0;
}

.flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.flex--wrap {
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
}

.v-center {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.h-center {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.v-center--spread {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

/*! Baze Grid v2.0.2 | (c) 2014 @_bobbylie | https://github.com/ImBobby/Baze-Grid */
.bzg:after {
	display: table;
	clear: both;
	content: '';
}

.bzg {
	margin-left: -25px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.bzg--no-gutter {
	margin-left: 0;
}

.bzg--no-gutter > .bzg_c {
	padding-left: 0;
}

.bzg_c {
	float: left;
	width: 100%;
	min-height: 1px;
	padding-left: 25px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.bzg_c[data-col*='s1'] {
	width: 8.33333%;
}

.bzg_c[data-offset*='s1'] {
	margin-left: 8.33333%;
}

.bzg_c[data-col*='s2'] {
	width: 16.66667%;
}

.bzg_c[data-offset*='s2'] {
	margin-left: 16.66667%;
}

.bzg_c[data-col*='s3'] {
	width: 25%;
}

.bzg_c[data-offset*='s3'] {
	margin-left: 25%;
}

.bzg_c[data-col*='s4'] {
	width: 33.33333%;
}

.bzg_c[data-offset*='s4'] {
	margin-left: 33.33333%;
}

.bzg_c[data-col*='s5'] {
	width: 41.66667%;
}

.bzg_c[data-offset*='s5'] {
	margin-left: 41.66667%;
}

.bzg_c[data-col*='s6'] {
	width: 50%;
}

.bzg_c[data-offset*='s6'] {
	margin-left: 50%;
}

.bzg_c[data-col*='s7'] {
	width: 58.33333%;
}

.bzg_c[data-offset*='s7'] {
	margin-left: 58.33333%;
}

.bzg_c[data-col*='s8'] {
	width: 66.66667%;
}

.bzg_c[data-offset*='s8'] {
	margin-left: 66.66667%;
}

.bzg_c[data-col*='s9'] {
	width: 75%;
}

.bzg_c[data-offset*='s9'] {
	margin-left: 75%;
}

.bzg_c[data-col*='s10'] {
	width: 83.33333%;
}

.bzg_c[data-offset*='s10'] {
	margin-left: 83.33333%;
}

.bzg_c[data-col*='s11'] {
	width: 91.66667%;
}

.bzg_c[data-offset*='s11'] {
	margin-left: 91.66667%;
}

.bzg_c[data-col*='s12'] {
	width: 100%;
}

.bzg_c[data-offset*='s12'] {
	margin-left: 100%;
}

@media screen and (min-width: 48em) {
	.bzg_c[data-col*='m'] {
		margin-left: 0;
	}
	.bzg_c[data-col*='m1'] {
		width: 8.33333%;
	}
	.bzg_c[data-offset*='m1'] {
		margin-left: 8.33333%;
	}
	.bzg_c[data-col*='m2'] {
		width: 16.66667%;
	}
	.bzg_c[data-offset*='m2'] {
		margin-left: 16.66667%;
	}
	.bzg_c[data-col*='m3'] {
		width: 25%;
	}
	.bzg_c[data-offset*='m3'] {
		margin-left: 25%;
	}
	.bzg_c[data-col*='m4'] {
		width: 33.33333%;
	}
	.bzg_c[data-offset*='m4'] {
		margin-left: 33.33333%;
	}
	.bzg_c[data-col*='m5'] {
		width: 41.66667%;
	}
	.bzg_c[data-offset*='m5'] {
		margin-left: 41.66667%;
	}
	.bzg_c[data-col*='m6'] {
		width: 50%;
	}
	.bzg_c[data-offset*='m6'] {
		margin-left: 50%;
	}
	.bzg_c[data-col*='m7'] {
		width: 58.33333%;
	}
	.bzg_c[data-offset*='m7'] {
		margin-left: 58.33333%;
	}
	.bzg_c[data-col*='m8'] {
		width: 66.66667%;
	}
	.bzg_c[data-offset*='m8'] {
		margin-left: 66.66667%;
	}
	.bzg_c[data-col*='m9'] {
		width: 75%;
	}
	.bzg_c[data-offset*='m9'] {
		margin-left: 75%;
	}
	.bzg_c[data-col*='m10'] {
		width: 83.33333%;
	}
	.bzg_c[data-offset*='m10'] {
		margin-left: 83.33333%;
	}
	.bzg_c[data-col*='m11'] {
		width: 91.66667%;
	}
	.bzg_c[data-offset*='m11'] {
		margin-left: 91.66667%;
	}
	.bzg_c[data-col*='m12'] {
		width: 100%;
	}
	.bzg_c[data-offset*='m12'] {
		margin-left: 100%;
	}
}

@media screen and (min-width: 64em) {
	.bzg_c[data-col*='l'] {
		margin-left: 0;
	}
	.bzg_c[data-col*='l1'] {
		width: 8.33333%;
	}
	.bzg_c[data-offset*='l1'] {
		margin-left: 8.33333%;
	}
	.bzg_c[data-col*='l2'] {
		width: 16.66667%;
	}
	.bzg_c[data-offset*='l2'] {
		margin-left: 16.66667%;
	}
	.bzg_c[data-col*='l3'] {
		width: 25%;
	}
	.bzg_c[data-offset*='l3'] {
		margin-left: 25%;
	}
	.bzg_c[data-col*='l4'] {
		width: 33.33333%;
	}
	.bzg_c[data-offset*='l4'] {
		margin-left: 33.33333%;
	}
	.bzg_c[data-col*='l5'] {
		width: 41.66667%;
	}
	.bzg_c[data-offset*='l5'] {
		margin-left: 41.66667%;
	}
	.bzg_c[data-col*='l6'] {
		width: 50%;
	}
	.bzg_c[data-offset*='l6'] {
		margin-left: 50%;
	}
	.bzg_c[data-col*='l7'] {
		width: 58.33333%;
	}
	.bzg_c[data-offset*='l7'] {
		margin-left: 58.33333%;
	}
	.bzg_c[data-col*='l8'] {
		width: 66.66667%;
	}
	.bzg_c[data-offset*='l8'] {
		margin-left: 66.66667%;
	}
	.bzg_c[data-col*='l9'] {
		width: 75%;
	}
	.bzg_c[data-offset*='l9'] {
		margin-left: 75%;
	}
	.bzg_c[data-col*='l10'] {
		width: 83.33333%;
	}
	.bzg_c[data-offset*='l10'] {
		margin-left: 83.33333%;
	}
	.bzg_c[data-col*='l11'] {
		width: 91.66667%;
	}
	.bzg_c[data-offset*='l11'] {
		margin-left: 91.66667%;
	}
	.bzg_c[data-col*='l12'] {
		width: 100%;
	}
	.bzg_c[data-offset*='l12'] {
		margin-left: 100%;
	}
}

@media screen and (min-width: 75em) {
	.bzg_c[data-col*='x'] {
		margin-left: 0;
	}
	.bzg_c[data-col*='x1'] {
		width: 8.33333%;
	}
	.bzg_c[data-offset*='x1'] {
		margin-left: 8.33333%;
	}
	.bzg_c[data-col*='x2'] {
		width: 16.66667%;
	}
	.bzg_c[data-offset*='x2'] {
		margin-left: 16.66667%;
	}
	.bzg_c[data-col*='x3'] {
		width: 25%;
	}
	.bzg_c[data-offset*='x3'] {
		margin-left: 25%;
	}
	.bzg_c[data-col*='x4'] {
		width: 33.33333%;
	}
	.bzg_c[data-offset*='x4'] {
		margin-left: 33.33333%;
	}
	.bzg_c[data-col*='x5'] {
		width: 41.66667%;
	}
	.bzg_c[data-offset*='x5'] {
		margin-left: 41.66667%;
	}
	.bzg_c[data-col*='x6'] {
		width: 50%;
	}
	.bzg_c[data-offset*='x6'] {
		margin-left: 50%;
	}
	.bzg_c[data-col*='x7'] {
		width: 58.33333%;
	}
	.bzg_c[data-offset*='x7'] {
		margin-left: 58.33333%;
	}
	.bzg_c[data-col*='x8'] {
		width: 66.66667%;
	}
	.bzg_c[data-offset*='x8'] {
		margin-left: 66.66667%;
	}
	.bzg_c[data-col*='x9'] {
		width: 75%;
	}
	.bzg_c[data-offset*='x9'] {
		margin-left: 75%;
	}
	.bzg_c[data-col*='x10'] {
		width: 83.33333%;
	}
	.bzg_c[data-offset*='x10'] {
		margin-left: 83.33333%;
	}
	.bzg_c[data-col*='x11'] {
		width: 91.66667%;
	}
	.bzg_c[data-offset*='x11'] {
		margin-left: 91.66667%;
	}
	.bzg_c[data-col*='x12'] {
		width: 100%;
	}
	.bzg_c[data-offset*='x12'] {
		margin-left: 100%;
	}
}

.media {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.media-figure {
	margin-right: 0.8em;
}

.media-content {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	min-width: 0;
}

.responsive-media {
	position: relative;
	height: 0;
	overflow: hidden;
}

.responsive-media.r-16-9 {
	padding-bottom: 56.25%;
}

.responsive-media.r-1,
.responsive-media.r-square {
	padding-bottom: 100%;
}

.responsive-media > * {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	font-family: 'object-fit:cover';
	object-fit: cover;
}

html,
body {
	height: 100%;
}

.sticky-footer-container {
	display: table;
	table-layout: fixed;
	width: 100%;
	height: 100%;
}

.sticky-footer-container-item {
	display: table-row;
	height: 1px;
}

.sticky-footer-container-item.\--pushed {
	height: 100%;
}

html {
	font: 400 16px -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI',
		'Roboto', 'Helvetica Neue', Arial, sans-serif;
	line-height: 1.6;
}

body {
	-webkit-text-decoration-skip: ink;
	text-decoration-skip-ink: auto;
	color: #4d4d4d;
}

a {
	color: #0094ed;
	text-decoration: none;
}

a:hover,
a:focus {
	color: #0074ba;
}

button {
	cursor: pointer;
}

button:focus {
	outline: none;
}

.block {
	margin-bottom: 1.6em;
}

.block-half {
	margin-bottom: 0.8em;
}

.container {
	width: 92%;
	max-width: 960px;
	margin: 0 auto;
}

@media screen and (min-width: 48em) {
	.container {
		width: 94%;
	}
}

@media screen and (min-width: 75em) {
	.container {
		max-width: 1280px;
	}
}
