<template>
	<div class="container">
		<h1>Baze News</h1>
		<VueSlickCarousel :dots="true" :arrows="false" class="main-banner mb-36">
			<MainBanner
				v-for="(banner, index) in banners"
				:key="index"
				:banner="banner"
				:data-index="index"
			/>
		</VueSlickCarousel>
		<NewsCard
			v-for="(article, index) in articles"
			:key="index"
			:article="article"
			:data-index="index"
		/>
	</div>
</template>

<script>
import { mapState } from 'vuex'
// import MainBanner from '@/components/MainBanner.vue'
// import NewsCard from '@/components/NewsCard.vue'
export default {
	async fetch({ store, error }) {
		try {
			await store.dispatch('articles/fetchArticles')
			await store.dispatch('banners2/fetchMainBanner')
		} catch (e) {
			error({
				statusCode: 503,
				message: 'Unable'
			})
		}
	},
	data() {
		return {
			slickOptions: {
				dots: true
			}
		}
	},
	computed: mapState({
		articles: state => state.articles.articles,
		banners: state => state.banners2.banners
	}),
	head() {
		return {
			title: 'News',
			meta: [
				{
					hid: 'description',
					name: 'description',
					content: 'Where you can start new project with me'
				}
			]
		}
	}
}
</script>
<style lang="scss" scoped>
@import '~assets/scss/modules/baze-grid';
</style>
