<template>
	<div id="app" class="sticky-footer-container">
		<div class="sticky-footer-container-item">
			<Header app />
		</div>
		<div class="sticky-footer-container-item --pushed">
			<main class="site-main">
				<div v-if="$nuxt.isOffline" class="container">You are offline</div>
				<div v-else>
					<nuxt />
				</div>
			</main>
		</div>
		<!-- <InstallApp /> -->
	</div>
</template>

<script>
import Header from '~/components/header/header.vue'
// import InstallApp from '~/components/InstallApp.vue'
export default {
	components: {
		Header
		// InstallApp
	}
}
</script>
<style lang="scss">
.site-main {
	padding-top: 96px;
	position: relative;
	z-index: 1;
}
</style>
