<template>
	<div class="container">
		<h3>Full Calendar</h3>
		<!-- <FullCalendar /> -->
	</div>
</template>

<script>
// import { mapState } from 'vuex'
// import FullCalendar from '@/components/Calendar.vue'
// import { directive } from 'vue-awesome-swiper'
export default {
	components: {
		// FullCalendar
	},
	head() {
		return {
			title: 'Baze Events',
			meta: [
				{
					hid: 'description',
					name: 'description',
					content: 'Where you can start new project with me'
				}
			]
		}
	}
}
</script>

<style lang="scss" scoped></style>
