<template>
	<div class="container">
		<h3>V-Calendar plugin include datepicker and minimalistic calendar</h3>
		<div class="small-box space">
			<span>On click</span>
			<v-date-picker
				v-model="date"
				:min-date="new Date()"
				:popover="{ placement: 'bottom', visibility: 'click' }"
			/>
		</div>
		<div class="small-box space">
			<span>On hover</span>
			<v-date-picker v-model="date" />
		</div>
		<div class="small-box space">
			<span>Date Range</span>
			<v-date-picker v-model="range" :min-date="new Date()" mode="range" />
		</div>
		<div class="space">
			<h4>Minimalistic Calendar</h4>
			<div class="space">
				<v-calendar v-model="date" />
			</div>
			<div class="space">
				<v-calendar is-expanded />
			</div>
			<div class="space">
				<v-calendar is-expanded is-dark />
			</div>
		</div>
	</div>
</template>

<script>
// import { mapState } from 'vuex'

export default {
	data() {
		return {
			date: new Date(),
			range: {
				start: null,
				end: null
			}
		}
	},
	head() {
		return {
			title: 'Baze Events',
			meta: [
				{
					hid: 'description',
					name: 'description',
					content: 'Where you can start new project with me'
				}
			]
		}
	}
}
</script>

<style lang="scss" scoped>
.small-box {
	width: 200px;
}

.space {
	margin-bottom: 20px;
}
</style>
