<template>
	<div class="container">
		<form action="" method="post">
			<div class="mb-16">
				<label class="form__label">Name</label><br />
				<input
					v-model.trim="$v.name.$model"
					class="form-input"
					:class="{ 'form-input--error': $v.name.$error }"
					@blur="$v.name.$touch()"
				/>
				<div v-if="$v.name.$error">
					<div v-if="!$v.name.required" class="form-error-msg">
						Field is required
					</div>
					<div v-if="!$v.name.minLength" class="form-error-msg">
						Name must have at least {{ $v.name.$params.minLength.min }} letters.
					</div>
				</div>
			</div>
			<div class="mb-16">
				<label class="form__label">Email</label><br />
				<input
					v-model.trim="$v.email.$model"
					class="form-input"
					:class="{ 'form-input--error': $v.email.$error }"
					@blur="$v.email.$touch()"
				/>
				<div v-if="$v.email.$error">
					<div v-if="!$v.email.required" class="form-error-msg">
						Field is required
					</div>
					<div v-if="!$v.email.email" class="form-error-msg">
						Yor email is not valid.
					</div>
				</div>
			</div>
			<div class="mb-16">
				<label class="form__label">Gender</label><br />
				<v-select
					v-model.trim="$v.gender.$model"
					:options="['Male', 'Female', 'Cong']"
					@blur="$v.gender.$touch()"
				></v-select>
				<div v-if="$v.gender.$error">
					<div v-if="!$v.gender.required" class="form-error-msg">
						Gender is required
					</div>
				</div>
			</div>
			<div>
				<bzBtn
					class="btn--primary"
					:title="'Submit'"
					:is-button="true"
					:disabled="$v.$invalid"
					type="submit"
				/>
			</div>
		</form>
	</div>
</template>

<script>
// eslint-disable-next-line no-unused-vars
import { required, minLength, between, email } from 'vuelidate/lib/validators'
export default {
	data() {
		return {
			name: '',
			email: null,
			gender: null
		}
	},
	validations: {
		name: {
			required,
			minLength: minLength(4)
		},
		email: {
			required,
			email
		},
		gender: { required }
	}
}
</script>

<style lang="scss" scoped>
@import '~assets/scss/modules/forms';
</style>
