<template>
	<div>
		<template v-for="(block, index) in page_component">
			<component
				:is="block.componentName"
				:key="index"
				:block="block"
			></component>
		</template>
		<!-- <BazeLogo />
    <OurServices />-->
		<!-- <VueSlickCarousel :dots="true" :arrows="false" class="main-banner">
			<MainBanner
				v-for="(banner, index) in banners"
				:key="index"
				:banner="banner"
				:data-index="index"
			/>
		</VueSlickCarousel> -->
	</div>
</template>

<script>
export default {
	head() {
		return {
			title: 'Baze Events',
			meta: [
				{
					hid: 'description',
					name: 'description',
					content: 'Where you can start new project with me'
				}
			]
		}
	}
}
</script>
<script>
import { mapState } from 'vuex'
const HomeBanner = () => import('@/components/home/HomeBanner.vue')
const OurServices = () => import('@/components/home/OurServices.vue')
import GetApiClientServices from '@/services/GetApiClientServices.js'
export default {
	components: {
		OurServices,
		HomeBanner
	},
	created() {
		GetApiClientServices.getPageComponents()
			.then(res => {
				this.page_component = res.data
			})
			.catch(error => {
				error({
					statusCode: 503,
					message: 'banner error'
				})
			})
	},
	data() {
		return {
			page_component: [],
			deviceType: null
		}
	},
	asyncData(context) {
		const deviceType = context.$ua.deviceType()
		return { deviceType }
	},
	methods: {
		getUserAgent() {
			const deviceType = this.$ua.deviceType()
			this.deviceType = deviceType
		}
	}
	// async asyncData({ error }) {
	// 	try {
	// 		const { data } = await GetApiClientServices.getPageComponents()
	// 		return {
	// 			page_component: data
	// 		}
	// 	} catch (e) {
	// 		error({
	// 			statusCode: 503,
	// 			message: 'Error'
	// 		})
	// 	}
	// }
}
</script>

<style lang="scss"></style>
