<template>
	<div class="container">
		<h3>Vue Select Plugin</h3>
		<div class="small-box space">
			<h4>Single</h4>
			<v-select :options="['Canada', 'United States']"></v-select>
		</div>
		<div class="small-box space">
			<h4>Multiple</h4>
			<v-select
				v-model="selected"
				multiple
				:options="['Canada', 'United States']"
			/>
		</div>
	</div>
</template>

<script>
// import { mapState } from 'vuex'

export default {
	head() {
		return {
			title: 'Select',
			meta: [
				{
					hid: 'description',
					name: 'description',
					content: 'Where you can start new project with me'
				}
			]
		}
	}
}
</script>

<style lang="scss" scoped>
.small-box {
	width: 200px;
}

.space {
	margin-bottom: 20px;
}
</style>
