<template>
	<VueSlickCarousel :dots="true" :arrows="false" class="main-banner">
		<MainBanner
			v-for="(banner, index) in banners"
			:key="index"
			:banner="banner"
			:data-index="index"
		/>
	</VueSlickCarousel>
</template>

<script>
import { mapState } from 'vuex'
import MainBanner from '@/components/MainBanner.vue'
export default {
	components: {
		MainBanner
	},
	async fetch({ store, error }) {
		try {
			await store.dispatch('banners2/fetchMainBanner')
		} catch (e) {
			error({
				statusCode: 503,
				message: 'Unable'
			})
		}
	},
	data() {
		return {
			slickOptions: {
				dots: true
			}
		}
	},
	computed: mapState({
		banners: state => state.banners2.banners
	}),
	head() {
		return {
			title: 'Slick Carousel',
			meta: [
				{
					hid: 'description',
					name: 'description',
					content: 'Where you can start new project with me'
				}
			]
		}
	}
}
</script>

<style lang="scss" scoped></style>
