<template>
	<div class>
		<div v-swiper:myDirectiveSwiper="swiperOptions">
			<div class="swiper-wrapper">
				<div
					v-for="(banner, index) in banners"
					:key="index"
					class="swiper-slide"
				>
					<img :src="banner.banner_img_large" />
					<div class>
						<h1 class="mb-0" v-html="banner.title"></h1>
						<p>{{ banner.description }}</p>
					</div>
				</div>
			</div>
			<div class="swiper-pagination swiper-pagination-bullets"></div>
		</div>
	</div>
</template>

<script>
import { mapState } from 'vuex'

export default {
	async fetch({ store, error }) {
		try {
			await store.dispatch('banners2/fetchMainBanner')
		} catch (e) {
			error({
				statusCode: 503,
				message: 'Unable'
			})
		}
	},
	data() {
		return {
			swiperOptions: {
				loop: true,
				slidesPerView: 'auto',
				autoplay: true,
				centeredSlides: true,
				spaceBetween: 30,
				pagination: {
					el: '.swiper-pagination',
					dynamicBullets: true
				}
			}
		}
	},
	computed: {
		...mapState({
			banners: state => state.banners2.banners
		})
	},
	head() {
		return {
			title: 'Baze Events',
			meta: [
				{
					hid: 'description',
					name: 'description',
					content: 'Where you can start new project with me'
				}
			]
		}
	}
}
</script>

<style lang="scss" scoped></style>
