<template>
	<div class="container">
		<h2>Datatable</h2>
		<no-ssr>
			<vue-good-table :columns="columns" :rows="rows" />
		</no-ssr>
	</div>
</template>

<script>
import { mapState } from 'vuex'

export default {
	async fetch({ store, error }) {
		try {
			await store.dispatch('tables/fetchTables')
		} catch (e) {
			error({
				statusCode: 503,
				message: 'Unable'
			})
		}
	},
	computed: {
		...mapState({
			columns: state => state.tables.tables.columns,
			rows: state => state.tables.tables.rows
		})
	},
	head() {
		return {
			title: 'Vue GoodTable',
			meta: [
				{
					hid: 'description',
					name: 'description',
					content: 'Where you can start new project with me'
				}
			]
		}
	}
}
</script>

<style lang="scss" scoped>
.small-box {
	width: 200px;
}

.space,
.block {
	margin-bottom: 20px;
}
</style>
